resources/xmlSamplesXsd_44_7_0_24/WSDL/WebServiceDocsOOKZ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://zakupki.gov.ru/fz44/ws/priz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/ws/priz">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/ws/priz" schemaLocation="docs-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getOOKZObjectInfoRequest">
		<wsdl:part name="getOOKZObjectInfoRequest" element="sch:getOOKZObjectInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getOOKZObjectListRequest">
		<wsdl:part name="getOOKZObjectListRequest" element="sch:getOOKZObjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getOOKZObjectInfoResponse">
		<wsdl:part name="getOOKZObjectInfoResponse" element="sch:getOOKZObjectInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getOOKZObjectListResponse">
		<wsdl:part name="getOOKZObjectListResponse" element="sch:getOOKZObjectListResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getOOKZObjectInfo">
			<wsdl:input name="getOOKZObjectInfoRequest" message="sch:getOOKZObjectInfoRequest"/>
			<wsdl:output name="getOOKZObjectInfoResponse" message="sch:getOOKZObjectInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getOOKZObjectList">
			<wsdl:input name="getOOKZObjectListRequest" message="sch:getOOKZObjectListRequest"/>
			<wsdl:output name="getOOKZObjectListResponse" message="sch:getOOKZObjectListResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="sch:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getOOKZObjectInfo">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-ookz-object-info"/>
			<wsdl:input name="getOOKZObjectInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOOKZObjectInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getOOKZObjectList">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-ookz-object-list"/>
			<wsdl:input name="getOOKZObjectListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getOOKZObjectListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="sch:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
