resources/xmlSamplesXsd_44_7_0_24/WSDL/WebServiceDocsKO.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://zakupki.gov.ru/fz44/ws/priz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/ws/priz">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/ws/priz" schemaLocation="docs-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getKOObjectInfoResponse">
		<wsdl:part name="getKOObjectInfoResponse" element="sch:getKOObjectInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getKOObjectInfoRequest">
		<wsdl:part name="getKOObjectInfoRequest" element="sch:getKOObjectInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getKOObjectListRequest">
		<wsdl:part name="getKOObjectListRequest" element="sch:getKOObjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getKOObjectListResponse">
		<wsdl:part name="getKOObjectListResponse" element="sch:getKOObjectListResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getKOObjectInfo">
			<wsdl:input name="getKOObjectInfoRequest" message="sch:getKOObjectInfoRequest"/>
			<wsdl:output name="getKOObjectInfoResponse" message="sch:getKOObjectInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getKOObjectList">
			<wsdl:input name="getKOObjectListRequest" message="sch:getKOObjectListRequest"/>
			<wsdl:output name="getKOObjectListResponse" message="sch:getKOObjectListResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="sch:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getKOObjectInfo">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/KO/get-KO-object-info"/>
			<wsdl:input name="getKOObjectInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getKOObjectInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getKOObjectList">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/KO/get-KO-object-list"/>
			<wsdl:input name="getKOObjectListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getKOObjectListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="sch:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
