resources/xmlSamplesXsd_44_7_0_24/WSDL/WebServiceDocsRPG.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://zakupki.gov.ru/fz44/ws/priz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/ws/priz">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/ws/priz" schemaLocation="docs-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getRPGObjectInfoResponse">
		<wsdl:part name="getRPGObjectInfoResponse" element="sch:getRPGObjectInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getRPGObjectInfoRequest">
		<wsdl:part name="getRPGObjectInfoRequest" element="sch:getRPGObjectInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getRPGObjectListRequest">
		<wsdl:part name="getRPGObjectListRequest" element="sch:getRPGObjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getRPGObjectListResponse">
		<wsdl:part name="getRPGObjectListResponse" element="sch:getRPGObjectListResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getRPGObjectInfo">
			<wsdl:input name="getRPGObjectInfoRequest" message="sch:getRPGObjectInfoRequest"/>
			<wsdl:output name="getRPGObjectInfoResponse" message="sch:getRPGObjectInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getRPGObjectList">
			<wsdl:input name="getRPGObjectListRequest" message="sch:getRPGObjectListRequest"/>
			<wsdl:output name="getRPGObjectListResponse" message="sch:getRPGObjectListResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="sch:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getRPGObjectInfo">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-rpg-object-info"/>
			<wsdl:input name="getRPGObjectInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRPGObjectInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRPGObjectList">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-rpg-object-list"/>
			<wsdl:input name="getRPGObjectListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRPGObjectListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="sch:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
