resources/xmlSamplesXsd_44_7_0_24/WSDL/WebServiceDocsRPZ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://zakupki.gov.ru/fz44/ws/priz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/ws/priz">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/ws/priz" schemaLocation="docs-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getRPZObjectInfoResponse">
		<wsdl:part name="getRPZObjectInfoResponse" element="sch:getRPZObjectInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getRPZObjectInfoRequest">
		<wsdl:part name="getRPZObjectInfoRequest" element="sch:getRPZObjectInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getRPZObjectListRequest">
		<wsdl:part name="getRPZObjectListRequest" element="sch:getRPZObjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getRPZObjectListResponse">
		<wsdl:part name="getRPZObjectListResponse" element="sch:getRPZObjectListResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getRPZObjectInfo">
			<wsdl:input name="getRPZObjectInfoRequest" message="sch:getRPZObjectInfoRequest"/>
			<wsdl:output name="getRPZObjectInfoResponse" message="sch:getRPZObjectInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getRPZObjectList">
			<wsdl:input name="getRPZObjectListRequest" message="sch:getRPZObjectListRequest"/>
			<wsdl:output name="getRPZObjectListResponse" message="sch:getRPZObjectListResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="sch:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getRPZObjectInfo">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-rpz-object-info"/>
			<wsdl:input name="getRPZObjectInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRPZObjectInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getRPZObjectList">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-rpz-object-list"/>
			<wsdl:input name="getRPZObjectListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getRPZObjectListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="sch:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
