resources/xmlSamplesXsd_44_7_0_24/WSDL/WebServiceDocsPRIZ.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://zakupki.gov.ru/fz44/ws/priz" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/fz44/ws/priz">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://zakupki.gov.ru/fz44/ws/priz" schemaLocation="docs-ws-api.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getPRIZObjectInfoResponse">
		<wsdl:part name="getPRIZObjectInfoResponse" element="sch:getPRIZObjectInfoResponse"/>
	</wsdl:message>
	<wsdl:message name="getPRIZObjectInfoRequest">
		<wsdl:part name="getPRIZObjectInfoRequest" element="sch:getPRIZObjectInfoRequest"/>
	</wsdl:message>
	<wsdl:message name="getPRIZObjectListRequest">
		<wsdl:part name="getPRIZObjectListRequest" element="sch:getPRIZObjectListRequest"/>
	</wsdl:message>
	<wsdl:message name="getPRIZObjectListResponse">
		<wsdl:part name="getPRIZObjectListResponse" element="sch:getPRIZObjectListResponse"/>
	</wsdl:message>
	<wsdl:portType name="GetDataPortType">
		<wsdl:operation name="getPRIZObjectInfo">
			<wsdl:input name="getPRIZObjectInfoRequest" message="sch:getPRIZObjectInfoRequest"/>
			<wsdl:output name="getPRIZObjectInfoResponse" message="sch:getPRIZObjectInfoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPRIZObjectList">
			<wsdl:input name="getPRIZObjectListRequest" message="sch:getPRIZObjectListRequest"/>
			<wsdl:output name="getPRIZObjectListResponse" message="sch:getPRIZObjectListResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GetDataPortTypeSoap11" type="sch:GetDataPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPRIZObjectInfo">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-priz-object-info"/>
			<wsdl:input name="getPRIZObjectInfoRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPRIZObjectInfoResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPRIZObjectList">
			<soap:operation soapAction="http://zakupki.gov.ru/fz44/ws/priz/get-priz-object-list"/>
			<wsdl:input name="getPRIZObjectListRequest">
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output name="getPRIZObjectListResponse">
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="GetDataPortTypeService">
		<wsdl:port name="GetDataPortTypeSoap11" binding="sch:GetDataPortTypeSoap11">
			<soap:address location="${serviceLocation}"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
