resources/xmlSamplesXsd_44_7_0_24/eis-fs-ws-api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- EIS FILESTORE API Integration Scheme, version 7.0.6, create date 12.01.2017 -->
<xs:schema xmlns="http://zakupki.gov.ru/filestore/ws/data" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/filestore/ws/data">
	<xs:complexType name="startRequestType">
		<xs:annotation>
			<xs:documentation>Тип: Запрос инициации сессии передачи файла в файловое хранилище</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="owner">
				<xs:annotation>
					<xs:documentation>Организация - владелец файла</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="spzCode" type="spzNumType">
							<xs:annotation>
								<xs:documentation>Код СПЗ организации владельца файла. В случае если организация идентифицируется по коду СвР, а код СПЗ неизвестен, необходимо заполнить данное поле значением 00000000000, и обязательно указать код СвР</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="svrCode" type="consRegistryNumType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Код СвР организации владельца файла. Должен быть заполнен в случае, если в поле spzCode указано значение 00000000000</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="fileInfo">
				<xs:annotation>
					<xs:documentation>Информация о файле</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="name" type="shortNameType">
							<xs:annotation>
								<xs:documentation>Наименование файла</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="size" type="xs:int">
							<xs:annotation>
								<xs:documentation>Размер файла, байт</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="digest" type="xs:base64Binary">
							<xs:annotation>
								<xs:documentation>Хеш-сумма содержимого файла, рассчитанная по алгоритму SHA-256</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="startRequestPacketType">
		<xs:annotation>
			<xs:documentation>Тип для пакета данных: Запрос инициации сессии передачи файла в файловое хранилище</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="packetType">
				<xs:sequence>
					<xs:element name="data" type="startRequestType">
						<xs:annotation>
							<xs:documentation>Данные информационного пакета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="startRequest" type="startRequestPacketType">
		<xs:annotation>
			<xs:documentation>Пакет данных: Запрос инициации сессии передачи файла в файловое хранилище</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="startResponseType">
		<xs:annotation>
			<xs:documentation>Тип: Ответ на инициацию сессии передачи файла</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="fileContentId" type="guidType">
				<xs:annotation>
					<xs:documentation>Идентиификатор файла загружаемого в файловое хранилище (соответствует ответу http 200)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="loadedFileContentId" type="guidType">
				<xs:annotation>
					<xs:documentation>Идентификатор файла в файловом хранилище, который уже был загружен ранее (соответствует ответу http 201)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="error" type="errorType">
				<xs:annotation>
					<xs:documentation>Ошибка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="startResponsePacketType">
		<xs:annotation>
			<xs:documentation>Тип для пакета данных: Ответ на инициацию сессии передачи файла</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="refPacketType">
				<xs:sequence>
					<xs:element name="data" type="startResponseType">
						<xs:annotation>
							<xs:documentation>Данные информационного пакета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="startResponse" type="startResponsePacketType">
		<xs:annotation>
			<xs:documentation>Пакет данных: Ответ на инициацию сессии передачи файла</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="chunkRequestType">
		<xs:annotation>
			<xs:documentation>Тип: Запрос на передачу части файла</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileContentId" type="guidType">
				<xs:annotation>
					<xs:documentation>Идентификатор файла, загружаемого в файловое хранилище</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="range" type="rangeType">
				<xs:annotation>
					<xs:documentation>Диапазон</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="chunk" type="xs:base64Binary">
				<xs:annotation>
					<xs:documentation>Часть контента файла</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="chunkRequestPacketType">
		<xs:annotation>
			<xs:documentation>Тип для пакета данных: Запрос на передачу части файла</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="packetType">
				<xs:sequence>
					<xs:element name="data" type="chunkRequestType">
						<xs:annotation>
							<xs:documentation>Данные информационного пакета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="chunkRequest" type="chunkRequestPacketType">
		<xs:annotation>
			<xs:documentation>Пакет данных: Запрос на передачу части файла</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="chunkResponseType">
		<xs:annotation>
			<xs:documentation>Тип: Ответ на запрос передачи части файла</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="range" type="rangeType">
				<xs:annotation>
					<xs:documentation>Диапазон загруженного контента файла (соответствует коду http 202)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="error" type="errorType">
				<xs:annotation>
					<xs:documentation>Ошибка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="chunkResponsePacketType">
		<xs:annotation>
			<xs:documentation>Тип для пакета данных: Ответ на запрос передачи части файла</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="refPacketType">
				<xs:sequence>
					<xs:element name="data" type="chunkResponseType">
						<xs:annotation>
							<xs:documentation>Данные информационного пакета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="chunkResponse" type="chunkResponsePacketType">
		<xs:annotation>
			<xs:documentation>Пакет данных:Ответ на запрос передачи части файла</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="finishRequestType">
		<xs:annotation>
			<xs:documentation>Тип: Запрос на завершение сессии передачи файла</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="fileContentId" type="guidType">
				<xs:annotation>
					<xs:documentation>Идентиификатор файла загружаемого в файловое хранилище</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="finishRequestPacketType">
		<xs:annotation>
			<xs:documentation>Тип для пакета данных: Запрос на завершение сессии передачи файла</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="packetType">
				<xs:sequence>
					<xs:element name="data" type="finishRequestType">
						<xs:annotation>
							<xs:documentation>Данные информационного пакета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="finishRequest" type="finishRequestPacketType">
		<xs:annotation>
			<xs:documentation>Пакет данных: Запрос на завершение сессии передачи файла</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="finishResponseType">
		<xs:annotation>
			<xs:documentation>Тип: Ответ на завершение сессии передачи файла</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="created" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Признак успешного окончания передачи (соответствует коду http 201)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="range" type="rangeType">
				<xs:annotation>
					<xs:documentation>Диапазон загруженного контента файла, сигнализирует, что файл передан не полностью  (соответствует коду http 202)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="error" type="errorType">
				<xs:annotation>
					<xs:documentation>Ошибка</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="finishResponsePacketType">
		<xs:annotation>
			<xs:documentation>Тип для пакета данных:  Ответ на завершение сессии передачи файла</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="refPacketType">
				<xs:sequence>
					<xs:element name="data" type="finishResponseType">
						<xs:annotation>
							<xs:documentation>Данные информационного пакета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="finishResponse" type="finishResponsePacketType">
		<xs:annotation>
			<xs:documentation>Пакет данных: Ответ на завершение сессии передачи файла</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="baseFaultType">
		<xs:annotation>
			<xs:documentation>Тип: Исключение: Базовое исключение</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="baseFault" type="longTextType">
				<xs:annotation>
					<xs:documentation>Пакет данных: Исключение: Базовое исключение</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="baseFaultPacketType">
		<xs:annotation>
			<xs:documentation>Тип для пакета данных:  Исключение: Базовое исключение</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="packetType">
				<xs:sequence>
					<xs:element name="data" type="baseFaultType">
						<xs:annotation>
							<xs:documentation>Данные информационного пакета</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="baseFault" type="baseFaultPacketType">
		<xs:annotation>
			<xs:documentation>Пакет данных: Исключение: Базовое исключение</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="errorType">
		<xs:annotation>
			<xs:documentation>Тип: Ошибка</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="errCode" type="errCodeType">
				<xs:annotation>
					<xs:documentation>Код ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="errName" type="shortNameType">
				<xs:annotation>
					<xs:documentation>Наименование ошибки</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="longTextType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Дополнительное описание</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="rangeType">
		<xs:annotation>
			<xs:documentation>Тип: Диапазон</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="start" type="xs:int">
				<xs:annotation>
					<xs:documentation>Начало передаваемого диапазона, байт </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="size" type="xs:int">
				<xs:annotation>
					<xs:documentation>Размер передаваемой части файла, байт</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="packetType" abstract="true">
		<xs:annotation>
			<xs:documentation>Информационный пакет запроса</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Индексная карточка информационного пакета</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Индексная карточка пакета данных</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="packetUid" type="guidType">
							<xs:annotation>
								<xs:documentation>Глобальный идентификатор  информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="subsystem" type="subsystemType">
							<xs:annotation>
								<xs:documentation>Код подсистемы ЕИС, принимающей файл:

PRIZ - подсистема определения поставщика;
RGK - реестр контрактов;
RPG - реестр планов-графиков;
RPZ - реестр планов закупок.
RBG - реестр банковских гарантий.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="sender">
							<xs:annotation>
								<xs:documentation>Отправитель</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="senderType" type="partnerType">
							<xs:annotation>
								<xs:documentation>Тип отправителя:
				OOS - Единая информационная система;
GIIS_EB - Государственная интегрированная информационная система Электронный бюджет (ГИИС ЭБ);
RMIS - Региональная (муниципальная) информационная система (РМИС);
OVK - Информационная система органа внутреннего контроля (ИС ОВК);
OA - Информационная система органа аудита (ИС ОА);
KO - Информационная система контрольного органа (ИС КО);
FAS - Информационная система Федеральной антимонопольной службы (ИС ФАС).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="createDateTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Дата и время формирования информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="mode" type="indexModeType">
							<xs:annotation>
								<xs:documentation>Режим передачи информации
				PROD - промышленная эксплуатация;
TEST - тестовые данные</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="refPacketType" abstract="true">
		<xs:annotation>
			<xs:documentation>Информационный пакет ответа на запрос</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Индексная карточка информационного пакета</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Индексная карточка пакета данных</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="refPacketUid" type="guidType">
							<xs:annotation>
								<xs:documentation>Глобальный идентификатор  информационного пакета с запросом</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="subsystem" type="subsystemType">
							<xs:annotation>
								<xs:documentation>Код подсистемы ЕИС, принимающей файл:

PRIZ - подсистема определения поставщика;
RGK - реестр контрактов;
RPG - реестр планов-графиков;
RPZ - реестр планов закупок.
RBG - реестр банковских гарантий.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="sender">
							<xs:annotation>
								<xs:documentation>Отправитель</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:minLength value="1"/>
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="senderType" type="partnerType">
							<xs:annotation>
								<xs:documentation>Тип отправителя:
				OOS - Единая информационная система;
GIIS_EB - Государственная интегрированная информационная система Электронный бюджет (ГИИС ЭБ);
RMIS - Региональная (муниципальная) информационная система (РМИС);
OVK - Информационная система органа внутреннего контроля (ИС ОВК);
OA - Информационная система органа аудита (ИС ОА);
KO - Информационная система контрольного органа (ИС КО);
FAS - Информационная система Федеральной антимонопольной службы (ИС ФАС).</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="createDateTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Дата и время формирования информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="mode" type="indexModeType">
							<xs:annotation>
								<xs:documentation>Режим передачи информации
				PROD - промышленная эксплуатация;
TEST - тестовые данные</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="partnerType">
		<xs:annotation>
			<xs:documentation>Тип: Перечисление контрагентов:
				OOS - Единая информационная система;
				GIIS_EB - Государственная интегрированная информационная система Электронный бюджет (ГИИС ЭБ);
				RMIS - Региональная (муниципальная) информационная система (РМИС);
				OVK - Информационная система органа внутреннего контроля (ИС ОВК);
				OA - Информационная система органа аудита (ИС ОА);
				KO - Информационная система контрольного органа (ИС КО);
				FAS - Информационная система Федеральной антимонопольной службы (ИС ФАС).
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="OOS"/>
			<xs:enumeration value="GIIS_EB"/>
			<xs:enumeration value="RMIS"/>
			<xs:enumeration value="OVK"/>
			<xs:enumeration value="OA"/>
			<xs:enumeration value="KO"/>
			<xs:enumeration value="FAS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="indexModeType">
		<xs:annotation>
			<xs:documentation>Тип: Перечисление режимов:
				PROD - промышленная эксплуатация;
				TEST - тестовые данные/</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PROD"/>
			<xs:enumeration value="TEST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="longTextType">
		<xs:annotation>
			<xs:documentation>Тип: Длинное текстовое поле</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2000"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="shortNameType">
		<xs:annotation>
			<xs:documentation>Тип: Короткое текстовое поле</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="guidType">
		<xs:annotation>
			<xs:documentation>Тип: Глобальный идентификатор</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="36"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="errCodeType">
		<xs:annotation>
			<xs:documentation>Тип: Код ошибки:
				UNKNOWN - неизвестная ошибка;
				SYSTEM - системная ошибка;
				UNKNOWN_SENDER - неизвестный отпраивтель;
				UNKNOWN_OWNER - неизвестная организация-владелец;
				FILE_ID_INCORRECT - неверный идентификатор файла;
				CONTENT_INCOMPLETE - получен не весь контент файла;
				DIGEST_INCORRECT - полученная хеш-суммма контента файла не совпадает с вычисленной;
				RANGE_INCORRECT - неверно указан диапазон;
				CHUNK_SIZE_INCORRECT - размер части файла не совпадает с указанным в диапазоне.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UNKNOWN"/>
			<xs:enumeration value="SYSTEM"/>
			<xs:enumeration value="UNKNOWN_SENDER"/>
			<xs:enumeration value="UNKNOWN_OWNER"/>
			<xs:enumeration value="FILE_ID_INCORRECT"/>
			<xs:enumeration value="CONTENT_INCOMPLETE"/>
			<xs:enumeration value="DIGEST_INCORRECT"/>
			<xs:enumeration value="RANGE_INCORRECT"/>
			<xs:enumeration value="CHUNK_SIZE_INCORRECT"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="subsystemType">
		<xs:annotation>
			<xs:documentation>Тип: Перечисление подсистем ЕИС:
				PRIZ - подсистема определения поставщика;
				RGK - реестр контрактов;
				RPG - реестр планов-графиков;
				RPZ - реестр планов закупок.
				RBG - реестр банковских гарантий.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PRIZ"/>
			<xs:enumeration value="RGK"/>
			<xs:enumeration value="RPG"/>
			<xs:enumeration value="RPZ"/>
			<xs:enumeration value="RBG"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="spzNumType">
		<xs:annotation>
			<xs:documentation>Тип: Код по СПЗ</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\d{11}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="consRegistryNumType">
		<xs:annotation>
			<xs:documentation>Тип: Код по Сводному реестру</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:length value="8"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
