resources/xmlSamplesXsd_44_7_0_24/fcsIntegration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- FCS INTEGRATION Integration Scheme, version 7.0.6, create date 12.01.2017 -->
<xs:schema xmlns="http://zakupki.gov.ru/oos/integration/1" xmlns:oos="http://zakupki.gov.ru/oos/types/1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://zakupki.gov.ru/oos/integration/1" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:import namespace="http://zakupki.gov.ru/oos/types/1" schemaLocation="IntegrationTypes.xsd"/>
	<xs:element name="bankGuaranteeRefusal">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Сведения об отказе заказчика в принятии банковской гарантии; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_bankGuaranteeRefusalType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bankGuaranteeRefusalInvalid">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Сведения о недействительности отказа заказчика в принятии банковской гарантии</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_bankGuaranteeRefusalInvalidType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bankGuaranteeTermination">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация о прекращении обязательств поставщика по банковской гарантии; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_bankGuaranteeTerminationType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bankGuaranteeTerminationInvalid">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Сведения о недействительности информации о прекращении обязательств поставщика по банковской гарантии</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_bankGuaranteeTerminationInvalidType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bankGuaranteeReturn">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация о возвращении банковской гарантии или об освобождении от обязательств по банковской гарантии; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_bankGuaranteeReturnType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="bankGuaranteeReturnInvalid">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Сведения о недействительности информации о возвращении банковской гарантии или об освобождении от обязательств по банковской гарантии</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_bankGuaranteeReturnInvalidType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkPlan">
		<xs:annotation>
			<xs:documentation>Пакет данных:
План проверок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_checkPlanType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkResult">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Результат контроля</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_checkResultType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="checkResultCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация об отмене результата контроля</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_checkResultCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="clarification">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Разъяснение конкурсной/аукционной документации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:clarificationType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="clarificationRequest">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Запрос на разъяснение конкурсной/аукционной документации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:clarificationRequestType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="complaint">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация по жалобе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_complaintType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="complaintCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация об отзыве жалобы</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_complaintCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="complaintGroup">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация по групповой жалобе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_complaintGroupType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="electronicComplaint">
		<xs:annotation>
			<xs:documentation>Пакет данных:Информация по жалобе, поданной в электронном виде</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_electronicComplaintType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="confirmation">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Уведомление о результатах обработки информационного пакета</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="oos:zfcs_confirmationType"/>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="contract">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация (проект информации) о заключенном контракте</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_contract2015Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация об анулировании контракта</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_contractCancel2015Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractProcedure">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация об исполнении (расторжении) контракта</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_contractProcedure2015Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractProcedureCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Сведения об отмене информации об исполнении (расторжении) контракта</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_contractProcedureCancel2015Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="contractSign">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Информация о подписании государственного/муниципального контракта на ЭП</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:contractSignType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsClarification">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Разъяснение положений документации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_clarificationType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsClarificationRequest">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Запрос ЭП о даче разъяснений положений документации по 44-ФЗ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_clarificationRequestType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:Извещение об отмене определения поставщика (подрядчика, исполнителя)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationCancelFailure">
		<xs:annotation>
			<xs:documentation>Пакет данных:Отмена извещения об отмене определения поставщика (подрядчика, исполнителя) (в части лота);</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationCancelFailureType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationEF">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ЭА (электронный аукцион); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationEFType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationEFDateChange">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Уведомление об изменении даты и времени проведения электронного аукциона</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationEFDateChangeType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationEP">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении закупки у ЕП (единственного поставщика); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationEPType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotification111">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении закупки способом определения поставщика (подрядчика, исполнителя), установленным Правительством Российской Федерации в соответствии со ст. 111 Федерального закона № 44-ФЗ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationI111Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationISM">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении закупки многолотовым ИС (иной способ); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationISMType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationISO">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении закупки однолотовым ИС (иной способ); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationISOType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationLotCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение об отмене определения поставщика (подрядчика, исполнителя) в части лота</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationLotCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationOK">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении OK (открытый конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationOKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationOKD">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении OK-Д (двухэтапный конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationOKDType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationOKOU">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении OK-ОУ (конкурс с ограниченным участием); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationOKOUType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationPO">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ПО (предварительный отбор); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationPOType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationZakA">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ЗакА (закрытый аукцион); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationZakAType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationZakK">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ЗакK (закрытый конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationZakKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationZakKD">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ЗакK-Д (закрытый двухэтапный конкурс); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationZakKDType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationZakKOU">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ЗакK-ОУ (закрытый конкурс с ограниченным участием); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationZakKOUType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationZK">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ЗK (запрос котировок); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationZKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationZP">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение о проведении ЗП (запроса предложений); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationZPType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationLotChange">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Внесение изменений в извещение в части лота</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationLotChangeType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsNotificationOrgChange">
		<xs:annotation>
			<xs:documentation>Пакет данных:Уведомление об изменении организации, осуществляющей закупку</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_notificationOrgChangeType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsPurchaseDocument">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация о документе закупки; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_purchaseDocumentType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsPurchaseDocumentCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация об отмене документа закупки</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_purchaseDocumentCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsTimeEF">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Время проведения электронного аукциона</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_timeEFType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsPurchaseProlongationZK">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Извещение продлении срока подачи котировочных заявок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_purchaseProlongationZKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsPurchaseProlongationOK">
		<xs:annotation>
			<xs:documentation>Пакет данных:Уведомление о продлении срока рассмотрения и оценки заявок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_purchaseProlongationOKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsContractSign">
		<xs:annotation>
			<xs:documentation>Пакет данных:Информация о подписании государственного/муниципального контракта на ЭП</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_contractSignType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsPlacementResult">
		<xs:annotation>
			<xs:documentation>Пакет данных:Результат проведения процедуры определения поставщика</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_placementResultType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:Информация об отмене протокола</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolEF1">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения заявок на участие в электронном аукционе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolEF1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolEF2">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол проведения электронного аукциона</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolEF2Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolEF3">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол подведения итогов электронного аукциона</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolEF3Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolEFInvalidation">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол о признании электронного аукциона несостоявшимся</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolEFInvalidationType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolEFSingleApp">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения единственной заявки на участие в электронном аукционе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolEFSingleAppType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolEFSinglePart">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения заявки единственного участника электронного аукциона</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolEFSinglePartType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolEvasion">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол отказа от заключения контракта; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolEvasionType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolDeviation">
		<xs:annotation>
			<xs:documentation>Пакет данных: Протокол признания участника уклонившимся от заключения контракта; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolDeviationType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolPO">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол предварительного отбора в ПО; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolPOType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOK1">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол вскрытия конвертов и открытия доступа к электронным документам заявок участников в ОК; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOK1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOK2">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOK2Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKSingleApp">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения единственной заявки в ОК; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKSingleAppType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKOU1">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол вскрытия конвертов и открытия доступа к электронным документам заявок участников в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKOU1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKOU2">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол предквалификационного отбора в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKOU2Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKOU3">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKOU3Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKOUSingleApp">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения единственной заявки в ОК-ОУ; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKOUSingleAppType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKD1">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол вскрытия конвертов и открытия доступа к электронным документам первоначальных заявок в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKD1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKD2">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол предквалификационного отбора в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKD2Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKD3">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол первого этапа в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKD3Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKD4">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол вскрытия конвертов и открытия доступа к электронным документам окончательных заявок в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKD4Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKD5">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения и оценки заявок на участие в конкурсе в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKD5Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolOKDSingleApp">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения единственной заявки в ОК-Д; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolOKDSingleAppType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolZK">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения и оценки заявок в ЗК</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolZKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolZKAfterProlong">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол рассмотрения и оценки заявок по результатам продления срока подачи заявок; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolZKAfterProlongType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolZKBI">
		<xs:annotation>
			<xs:documentation>Пакет данных:Общая информация об объекте закупки и структурированный протокол  рассмотрения и оценки заявок на участие в ЗК-БИ  (запрос котировок без извещения); внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolZKBIType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolZPExtract">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол выписки из протокола проведения запроса предложений в ЗП; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolZPExtractType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolZPFinal">
		<xs:annotation>
			<xs:documentation>Пакет данных:Итоговый протокол в ЗП; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolZPFinalType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsProtocolZP">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол проведения запроса предложений в ЗП; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_protocolZPType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsRequestForQuotation">
		<xs:annotation>
			<xs:documentation>Пакет данных:Версия запроса цен товаров, работ, услуг</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_requestForQuotationType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsRequestForQuotationCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:Отмена запроса цен товаров, работ, услуг</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_requestForQuotationCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportContractExecution">
		<xs:annotation>
			<xs:documentation>Пакет данных:Отчет об исполнении контракта (результатах отдельного этапа исполнения контракта)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportContractExecutionType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportContractExecutionInvalid">
		<xs:annotation>
			<xs:documentation>Пакет данных:Информация о недействительности сведений отчета об исполнении контракта (результатах отдельного этапа исполнения контракта)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportContractExecutionInvalidType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportSmallScaleBusiness">
		<xs:annotation>
			<xs:documentation>Пакет данных:Отчет об объеме закупок у СМП (субъектов малого предпринимательства), СОНО (социально ориентированных некоммерческих организаций)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportSmallScaleBusinessType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportSmallScaleBusinessInvalid">
		<xs:annotation>
			<xs:documentation>Пакет данных:Информация о недействительности сведений отчета об объеме закупок у СМП (субъектов малого предпринимательства), СОНО (социально ориентированных некоммерческих организаций)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportSmallScaleBusinessInvalidType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportSingleContractor">
		<xs:annotation>
			<xs:documentation>Пакет данных:Отчет с обоснованием закупки у единственного поставщика (подрядчика, исполнителя)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportSingleContractorType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportSingleContractorInvalid">
		<xs:annotation>
			<xs:documentation>Пакет данных:Информация о недействительности сведений отчета с обоснованием закупки у единственного поставщика (подрядчика, исполнителя)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportSingleContractorInvalidType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportBigProjectMonitoring">
		<xs:annotation>
			<xs:documentation>Пакет данных:Отчет по мониторингу реализации крупных проектов с государственным участием</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportBigProjectMonitoringType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="fcsCustomerReportBigProjectMonitoringInvalid">
		<xs:annotation>
			<xs:documentation>Пакет данных:Информация о недействительности сведений отчета по мониторингу реализации крупных проектов с государственным участием</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_customerReportBigProjectMonitoringInvalidType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="masterData">
		<xs:annotation>
			<xs:documentation>Пакет данных:Набор элементов справочников и классификаторов</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_masterDataType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationCancel">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Извещение об отказе от проведения</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:notificationCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationEF">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Извещение о проведении ЭА;
Извещение о внесении изменений в извещение о проведении ЭА или аукционную документацию</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:notificationEFType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationOK">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Извещение о проведении открытого конкурса;
Извещение о внесении изменений в извещение о проведении открытого конкурса или конкурсную документацию</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:notificationOKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationPlacerChange">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Уведомление об изменении организации, размещающей заказ</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:notificationPlacerChangeType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationPO">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Извещение о проведении предварительного отбора</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:notificationPOType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationSZ">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Сообщение о заинтересованности в проведении конкурса</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:notificationSZType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="notificationZK">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Извещение о проведении запроса котировок;
Извещение о продлении срока подачи котировочных заявок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:notificationZKType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="placementResult">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Результат размещения заказа</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:placementResultType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolCancel">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Информация об отмене протокола</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolEF1">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол рассмотрения первых частей заявок на участие в открытом аукционе в электронной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolEF1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolEF2">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол проведения открытого аукциона в электронной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolEF2Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolEF3">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол подведения итогов открытого аукциона в электронной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolEF3Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolEvasion">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол отказа от заключения контракта</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolEvasionType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolOK1">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол вскрытия конвертов с заявками на участие в открытом конкурсе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolOK1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolOK2">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол рассмотрения заявок на участие в открытом конкурсе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolOK2Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolOK3">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол оценки и сопоставления заявок на участие в открытом конкурсе</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolOK3Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolPO1">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол рассмотрения заявок на участие в процедуре предварительного отбора </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolPO1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolZK1">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол рассмотрения котировочных заявок</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolZK1Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="protocolZK5">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Протокол рассмотрения котировочных заявок по главе 5</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:protocolZK5Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="purchasePlan">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Проект плана закупок в структурированной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_purchasePlanType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="purchasePlanExecution">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Проект исполнения плана закупок в структурированной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_purchasePlanExecutionType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="purchasePlanChange">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Изменение плана закупок в структурированной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_purchasePlanChangeType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenderPlan">
		<xs:annotation>
			<xs:documentation>Пакет данных:
План-график; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_tenderPlanType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenderPlan2017">
		<xs:annotation>
			<xs:documentation>Пакет данных:
План-график с 01.01.2017; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_tenderPlan2017Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenderPlanChange">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Изменение плана-графика</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_tenderPlanChangeType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenderPlanChange2017">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Изменение плана-графика с 01.01.2017</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_tenderPlanChange2017Type">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenderPlanUnstructured">
		<xs:annotation>
			<xs:documentation>Пакет данных:
План-график в неструктурированной форме; внесение изменений</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_tenderPlanUnstructuredType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenderPlanCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:Аннулирование плана-графика</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_tenderPlanCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="tenderSuspension">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация о приостановке определения поставщика</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_tenderSuspensionType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="timeEF">
		<xs:annotation>
			<xs:documentation>94ФЗ Пакет данных:
Время проведения открытого аукциона в электронной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:timeEFType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="unplannedCheck">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация по внеплановой проверке</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_unplannedCheckType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="unplannedCheckCancel">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Информация об отмене проведения внеплановой проверки</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_unplannedCheckCancelType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sketchPlan">
		<xs:annotation>
			<xs:documentation>Пакет данных:
План закупок в неструктурированной форме</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_sketchPlanType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="sketchPlanExecution">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Сведения об исполнении плана закупок </xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_sketchPlanExecutionType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control99BeginMessage">
		<xs:annotation>
			<xs:documentation>Пакет данных:
Сообщение о начале контроля по 99 статье</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_control99BeginMessageType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control99RefusalMessage">
		<xs:annotation>
			<xs:documentation>Пакет данных:Сообщение об отказе в принятии на контроль по 99 статье</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_control99RefusalMessageType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control99NoticeCompliance">
		<xs:annotation>
			<xs:documentation>Пакет данных:Уведомление о соответствии контролируемой информации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_control99NoticeComplianceType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control99ProtocolMismatch">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол о несоответствии контролируемой информации</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_control99ProtocolMismatchType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:element name="control99ProtocolMismatchReductFunds">
		<xs:annotation>
			<xs:documentation>Пакет данных:Протокол о несоответствии контролируемой информации в связи с уменьшением средств</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="as2PacketType">
					<xs:sequence>
						<xs:element name="data" type="oos:zfcs_control99ProtocolMismatchReductFundsType">
							<xs:annotation>
								<xs:documentation>Данные информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="as2PacketType" abstract="true">
		<xs:annotation>
			<xs:documentation>Пакет данных AS2 протокола</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="index">
				<xs:annotation>
					<xs:documentation>Индексная карточка информационного пакета</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Индексная карточка пакета данных</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="id">
							<xs:annotation>
								<xs:documentation>Глобальный идентификатор  информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:length value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="sender">
							<xs:annotation>
								<xs:documentation>Отправитель</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="receiver">
							<xs:annotation>
								<xs:documentation>Получатель</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="200"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="createDateTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>Дата и время формирования информационного пакета</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="objectType" type="indexObjectTypeEnum">
							<xs:annotation>
								<xs:documentation>Кодовое наименование объекта информационного обмена, 
информация о котором содержится в данном пакете:

94_OK - 94ФЗ Открытый конкурс;
94_EF - 94ФЗ Открытый аукцион в электронной форме;
94_ZK - 94ФЗ Запрос котировок;
94_PO - 94ФЗ Предварительный отбор;
94_SZ - 94ФЗ Сообщение о заинтересованности в проведении конкурса;
94_DD - 94ФЗ Разные документы;

EF - Электронный аукцион;
EP - Единственный поставщик;
ISM - Иной способ, многолотовый;
ISO - Иной способ, однолотовый;
OKD - Открытый конкурс, двухэтапный;
OKOU - Открытый конкурс с ограниченным участием;
OK - Открытый конкурс;
PO - Предварительный отбор;
ZAKA - Закрытый аукцион;
ZAKKD - Закрытый конкурс, двухэтапный;
ZAKKOU - Закрытый конкурс с ограниченным участием;
ZAKK - Закрытый конкурс;
ZKBI - Запрос котировок без извещения;
ZK - Запрос котировок;
ZP - Запрос предложений;
ST111 - Способ определения поставщика (подрядчика, исполнителя), установленный Правительством Российской Федерации в соответствии со ст. 111 Федерального закона № 44-ФЗ;
CT - Контракт;
MD - Справочная информация;
TP - План график;
SP - План закупок;
PP - План закупок (структурированный);
BG - Банковская гарантия;
ZC - Запрос цен;
OZ - Отчет заказчика;
DD - 44ФЗ Разные документы;
PPM - План мероприятий для ИС ОВК;
PRK - Результат контроля для ИС ОВК;
PVKM - Информации по внеплановому контрольному мероприятию для ИС ОВК;
CM - Информация по жалобе для ИС КО;
CR - Результат контроля для ИС КО;
UC - Внеплановая проверка для ИС КО;
PC - Плановая проверка для ИС КО;
99DOC - Документы контроля по 99 статье.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="objectId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Идентификатор объекта информационного обмена (реестровый номер)</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="36"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="indexNum" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Порядковый номер пакета данных в рамках передачи информации об объекте информационного обмена</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:int"/>
							</xs:simpleType>
						</xs:element>
						<xs:element name="signature">
							<xs:annotation>
								<xs:documentation>ЭЦП на данные информационного пакета</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:base64Binary">
										<xs:attribute name="type" type="oos:zfcs_signatureType" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
						<xs:element name="mode" type="indexModeType">
							<xs:annotation>
								<xs:documentation>Режим передачи информации
			PROD - промышленная эксплуатация
			TEST - тестовые данные</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="testCase" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:int"/>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="indexModeType">
		<xs:annotation>
			<xs:documentation>Перечисление режимов</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="PROD"/>
			<xs:enumeration value="TEST"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="indexObjectTypeEnum">
		<xs:annotation>
			<xs:documentation>Перечисление типов объектов:
			
94_OK - 94ФЗ Открытый конкурс;
94_EF - 94ФЗ Открытый аукцион в электронной форме;
94_ZK - 94ФЗ Запрос котировок;
94_PO - 94ФЗ Предварительный отбор;
94_SZ - 94ФЗ Сообщение о заинтересованности в проведении конкурса;
94_DD - 94ФЗ Разные документы;

EF - Электронный аукцион;
EP - Единственный поставщик;
ISM - Иной способ, многолотовый;
ISO - Иной способ, однолотовый;
OKD - Открытый конкурс, двухэтапный;
OKOU - Открытый конкурс с ограниченным участием;
OK - Открытый конкурс;
PO - Предварительный отбор;
ZAKA - Закрытый аукцион;
ZAKKD - Закрытый конкурс, двухэтапный;
ZAKKOU - Закрытый конкурс с ограниченным участием;
ZAKK - Закрытый конкурс;
ZKBI - Запрос котировок без извещения;
ZK - Запрос котировок;
ZP - Запрос предложений;
ST111 - Способ определения поставщика (подрядчика, исполнителя), установленный Правительством Российской Федерации в соответствии со ст. 111 Федерального закона № 44-ФЗ;
CT - Контракт;
MD - Справочная информация;
TP - План график;
SP - План закупок;
PP - План закупок (структурированный);
BG - Банковская гарантия;
ZC - Запрос цен;
OZ - Отчет заказчика;
DD - 44ФЗ Разные документы;
PPM - План мероприятий для ИС ОВК;
PRK - Результат контроля для ИС ОВК;
PVKM - Информации по внеплановому контрольному мероприятию для ИС ОВК;
CM - Информация по жалобе для ИС КО;
CR - Результат контроля для ИС КО;
UC - Внеплановая проверка для ИС КО;
PC - Плановая проверка для ИС КО;
99DOC - Документы контроля по 99 статье.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="94_OK"/>
			<xs:enumeration value="94_EF"/>
			<xs:enumeration value="94_ZK"/>
			<xs:enumeration value="94_PO"/>
			<xs:enumeration value="94_SZ"/>
			<xs:enumeration value="94_DD"/>
			<xs:enumeration value="EF"/>
			<xs:enumeration value="EP"/>
			<xs:enumeration value="ISM"/>
			<xs:enumeration value="ISO"/>
			<xs:enumeration value="OKD"/>
			<xs:enumeration value="OKOU"/>
			<xs:enumeration value="OK"/>
			<xs:enumeration value="PO"/>
			<xs:enumeration value="ZAKA"/>
			<xs:enumeration value="ZAKKD"/>
			<xs:enumeration value="ZAKKOU"/>
			<xs:enumeration value="ZAKK"/>
			<xs:enumeration value="ZKBI"/>
			<xs:enumeration value="ZK"/>
			<xs:enumeration value="ZP"/>
			<xs:enumeration value="ST111"/>
			<xs:enumeration value="CT"/>
			<xs:enumeration value="MD"/>
			<xs:enumeration value="TP"/>
			<xs:enumeration value="SP"/>
			<xs:enumeration value="PP"/>
			<xs:enumeration value="BG"/>
			<xs:enumeration value="ZC"/>
			<xs:enumeration value="OZ"/>
			<xs:enumeration value="DD"/>
			<xs:enumeration value="PPM"/>
			<xs:enumeration value="PRK"/>
			<xs:enumeration value="PVKM"/>
			<xs:enumeration value="CM"/>
			<xs:enumeration value="CR"/>
			<xs:enumeration value="UC"/>
			<xs:enumeration value="PC"/>
			<xs:enumeration value="99DOC"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
